@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseGrid {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-pulse-grid {
  animation: pulseGrid 3s infinite ease-in-out;
}

@keyframes glow {
  0% {
    color: #374151; /* gray-700 */
    text-shadow: 0 0 1px rgba(59, 130, 246, 0.3);
    /* transform: scale(1); */
  }
  50% {
    color: #2562c5; /* blue-500 */
    text-shadow: 0 0 3px rgba(63, 134, 249, 0.452);
    /* transform: scale(1.01); */
  }
  100% {
    color: #374151; /* gray-700 */
    text-shadow: 0 0 1px rgba(59, 130, 246, 0.3);
    /* transform: scale(1); */
  }
}

.glowing-text {
  animation: glow 2.5s infinite ease-in-out;
  transition: all 0.3s ease-in-out;
}